@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-regular.woff') format('woff'),
       url('../fonts/Roboto-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-700.woff') format('woff'),
       url('../fonts/Roboto-700.woff2') format('woff2');
}
