
.btn {
  display: inline-block;
  font-size: 0.875rem;
  height: 30px;
  line-height: 30px;
  opacity: 1;
  padding: 0 16px;

  &.btn-raised {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.43);
  }

  &.btn-success {
    background: $petrol;
    color: white;
    text-transform: uppercase;
  }

  &.btn-danger {
    background: $cerise;
    color: white;
    text-transform: uppercase;
  }
  &[disabled="disabled"] {
    opacity: 0.5;
  }
}